@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --black: rgb(48, 48, 48);
    --grey: rgb(152, 152, 152);
    --white: rgb(254, 254, 254);
    --font: 'Montserrat', sans-serif;
    --font-size: 18px;
    --font-size-h1: 50px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-h4: 16px;
    --font-size-h5: 32px;
    --font-size-copyright: 12px;
    --name-color: rgb(208, 246, 255);
    --name-color-hover: rgb(175, 220, 255);
} 
html {
    font-family: var(--font);
    scroll-behavior: smooth;
    margin: 0%;
    background-color: var(--white);
    padding: 0 15%;
    font-size: var(--font-size);
    color: var(--black);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    padding-left: 24px;
}

nav a {
    color: var(--grey);
    position: relative;
}

a:hover {
    color: var(--black);
    transition: 0.5s;
}

.page {
    color: var(--black);
}

#name {
    background-color: var(--name-color);
}

#name:hover {
    background-color: var(--name-color-hover);
    transition: 0.5s;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
    margin: 0px;
}

h4, h5, p {
    line-height: 1.8;
}

.dropdown-content {
    display: block;
    margin: -1px 36px;
    float: right;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    background: var(--white);
    padding: 0px 20px;
    border-radius: 0px 0px 16px 16px;
}

.dropdown-content li {
    display: block;
    margin: 5px 0 15px 0;
}
.dropdown-content a {
    color: var(--grey);
}

.dropdown-content a:hover {
    color: var(--black);
} 

.container {
    padding: 34vh 0 4vh 0;
}

.work-item {
    padding: 5% 0;
    border-radius: 16px;
}

.work-item:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}


#red-pet {
    background-color: rgb(255, 197, 197);
}


#cinema-closet {
    background-color: rgb(225, 243, 244);
}

#graphix {
    background-color: rgb(255, 253, 197);
}

#work li {
    padding-bottom: 2vh;
}

#copyright {
    color: var(--grey);
    font-size: var(--font-size-copyright);
}
.checkbox {
    opacity: 0;
    z-index: 5;
}
.checkbox , .hamburger-lines{
    position: absolute;
    height: 32px;
    width: 32px;
    right: 20px;
    margin: 0;
    cursor: pointer;
}

.hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: var(--black);
    justify-content: space-between;
}

.hamburger-lines .line1 {
    margin-top: 4px;
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    margin: 9px 0;
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

#hamburger-menu {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -30vh;
    background: var(--white);
}

#hamburger-menu li {
    padding: 10px;
    font-size: 18px;
}

#hamburger-menu a {
    color: var(--grey);
}
#hamburger-menu a:hover {
    color: var(--black);
    transition: 0.5s;
}

#hamburger-menu .page {
    padding-top: 4px;
    color: var(--black);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

#about-me-page {
    text-align: left;
    padding-top: 3%;
}

#about-me-page p {
    padding-top: 2%;
}

#about-me-page p:nth-child(4) {
  padding-bottom: 8%;
}

.work-title {
    background: rgb(255, 197, 197);
    position: absolute;
    width: 100%;
    left: 0px;
    height: 75vh;
    top: 10vh;
    z-index: -1;
}
.work-title h1 {
    transform: translateY(24vh);
}
.work-title h3 {
    transform: translateY(26vh);
}

.work-content {
    text-align: left;
}

.work-content h5 {
    font-weight: bolder;
}

.overview {
    margin-top: 84vh;
}

#overview-img {
    width: 200px;
    float: right;
    padding-left: 10%;
}

.work-content div {
    margin-bottom: 10vh;
}

#process-img {
    width: 80%;
    margin-left: 10%;
}

ol li {
    list-style: inherit;
    margin: 0 0 6px 0;
}

.image-window {
    display: none;
    position: fixed; 
    z-index: 1; 
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-radius: 16px;
    border-color: var(--grey);
    border-width: 1px;
}

#persona {
    padding: 1vh 4vh; 
    left: 16vw;
    top: 4vh;
    width: 60vw; 
}

#empathy {
    padding: 1vh 4vh; 
    left: 24vw;
    top: 0.5vh;
    width: 44vw; 
}

#asis {
    padding: 1vh 4vh; 
    left: 16vw;
    top: 6vh;
    width: 60vw; 
}

.image-window img {
    display: block;
}
  
#persona img {
    width: 60vw;
}

#empathy img {
    width: 44vw;
}

#asis img {
    width: 60vw;
}
  
.image-window div {
    margin: 0px;
    display: block;
    text-align: center;
    color: var(--black);
}

.close {
    float: right;
    right: 35px;
    color: var(--black);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

.close:hover, .close:focus {
  cursor: pointer;
}

mark {
    background-color: rgb(255, 253, 197);
}

#yellowBody h4 a:hover {
    cursor: pointer;
    color: rgb(205 146 24);
}

#yellowBody h4 a {
    color: rgb(232 201 46);
}

#blueBody h4 a:hover {
    cursor: pointer;
    color: rgb(29, 51, 84);
}

#blueBody h4 a {
    color: rgb(70,117,153);
}

h4 a {
    color: rgb(255, 132, 132);
}

h4 a:hover {
    cursor: pointer;
    color: rgb(197, 36, 36);
}

#absurd-img, #prioritization-img {
    width: 68%;
    margin-left: 16%;
}

#big-img {
    width: 80%;
    margin-left: 10%;
}
  
#tobe {
    padding: 1vh 4vh; 
    left: 16vw;
    top: 12vh;
    width: 60vw; 
}

#tobe img {
    width: 60vw;
}

#onboarding-lo {
    width: 90%;
    margin-left: 5%;
}

#clinic-lo {
    width: 60%;
    margin-left: 20%;
}

#log-lo {
    width: 100%;
    margin-left: 0%;
}

#onboarding-mid, #clinic-mid, #log-mid {
    width: 80%;
    margin-left: 10%;
}

@media(width >= 860px){
    br {
       display:none;
    }
}

@media(width <= 860px){
    html {
        padding: 0 5%;
    }
    .container {
        padding: 30vh 0 4vh 0;
    }
}

@media(width >= 600px) {
    .hamburger-lines, .checkbox {
       display:none;
    }

}
    
@media(width <= 600px){
    :root {
        --font-size: 14px;
        --font-size-h1: 40px;
        --font-size-h2: 16px;
        --font-size-h3: 16px;
        --font-size-copyright: 10px;
    }
    
    nav ul {
        margin-top: -30vh;
    }


    #logo {
        font-size: 18px;
    }
}

#myBtn { 
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 3; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--white); /* Set a background color */
  color: var(--grey); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-stretch: expanded;
  font-size: 18px; /* Increase font size */
  border-style: solid;
  border-color: var(--grey);
}

#myBtn:hover {
  color: var(--black); /* Add a dark-grey background on hover */
  border-color: var(--black);
}
